:root {
  --font-family-notosans: Noto Sans TC;
  --font-family-roboto: Roboto;
  --line-height: 1.5;
  --color-black: #000000;
  --color-black-accent: #212529;
  --color-white: #FFFFFF;
  --color-accent: #FBF2F2;
  --color-primary: #AA0601;
  --color-primary-accent: #650300;
  --red: 'red';
}