.locationInDetail_section {
  padding: 40px 0;

  .title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    border-left: 7px solid var(--color-primary-accent);
    padding-left: 16px;
  }

  .search_form {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    select {
      width: auto;
      flex-grow: 1;
      margin-left: 8px;
      background-color: #fff;
      padding: 6px 12px; 
      font-size: 18px;
    }
  }

  .store_container {
    margin: 0 -12px;
    display: flex;
    flex-direction: column;
  }

  .store_info {
    padding: 12px;
    color: var(--color-black-accent);
    display: flex;
    flex-direction: column;

    .content_section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .store_info_title {
      font-size: 24px;
      color: var(--color-black-accent);
      padding: 8px 24px;
      border: 1px solid #00000020;
    }

    .store_info_content {
      font-size: 20px;
      padding: 16px 24px;
      border: 1px solid #00000020;
      flex-grow: 1;

      & > div {
        color: var(--color-black-accent);
        display: flex;
        position: relative;
      padding-left: 35px;
        
        .material-symbols-outlined {
          display: flex;
          align-items: center;
          margin-right: 11px;
          position: absolute;
          top: 3px;
          left: 0;
        }
      }

      & > div + div {
        margin-top: 8px;
      }
    }
  }

  .store_map {
    padding: 12px;

    img {
      height: 100%;
    }
  }
}

@include tablet {
  .locationInDetail_section {

    .search_form {
      
      select {
        width: 304px;
        flex-grow: 0;
      }
    }

    .store_info {
      flex-direction: row;
      margin: 0 -12px;

      img {
        width: 50%;
        padding: 0 12px;
      }

      .content_section {
        width: 50%;
        padding: 0 12px;
      }
    } 
  }
}

@include desktop {
  .locationInDetail_section {

    .store_container {
      flex-direction: row;
    }

    .store_info {
      flex-direction: column;

      img {
        width: 100%;
      }

      .content_section {
        width: 100%;
      }
    } 
  }
}