.locations_section {
  padding: 40px 0;

  .title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    border-left: 7px solid var(--color-primary-accent);
    padding-left: 16px;
  }

  .search_form {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    select {
      flex-grow: 1;
      margin-left: 8px;
      background-color: #fff;
      padding: 6px 12px; 
      font-size: 18px;
    }
  }

  .locations_list {
    margin: 0 -12px;


    .card {
      padding: 12px;
      color: var(--color-black-accent);
      display: flex;
      flex-direction: column;
    }

    .card_title {
      font-size: 24px;
      color: var(--color-black-accent);
      padding: 8px 24px;
      border: 1px solid #00000020;
    }

    .card_content {
      font-size: 20px;
      padding: 16px 24px;
      border: 1px solid #00000020;
      flex-grow: 1;

      & > div {
        color: var(--color-black-accent);
        display: flex;
        position: relative;
        padding-left: 35px;
        
        .material-symbols-outlined {
          display: flex;
          align-items: center;
          margin-right: 11px;
          position: absolute;
          left: 0;
          top: 3px;
        }
      }

      & > div + div {
        margin-top: 8px;
      }
    }

    .navigate_btn {
      display: block;
      text-align: center;
      padding: 16px 0;
      background-color: var(--color-black);
      color: var(--color-white);
      font-size: 20px;
    }
  }
}

@include tablet {
  .locations_section {

    .locations_list {
      display: flex;
      flex-wrap: wrap;

      .card {
        width: 50%;
      }
    }

    .search_form {
      
      select {
        width: 304px;
        flex-grow: 0;
      }
    }
  } 
}

@include desktop {
  .locations_section {

    .locations_list {

      .card {
        width: 33.3333%;
      }
    }
  }
}